{% extends 'base1.html' %}
{% block content %}
<div class="container my-4">

    <div class="border border-light p-3 mb-4">

      <div class="d-flex align-items-center justify-content-center" >
        <div class="p-2 bd-highlight col-example">
          <div class="card" style="width: 18rem;">
            <div class="card-body p-5" style="text-align:center;">
              <h6 class="card-subtitle mb-2 text-muted">What do you want to do?</h6>
              <a href="accounts/login" class="card-link">
                <button class="btn btn-primary">Login</button>
              </a>
              <a href="accounts/signup" class="card-link">
                <button class="btn btn-primary">Sign Up</button>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}

